<!DOCTYPE html>
<html>
    <body>
        <h1><%= title %></h1>

        <ul>
            <% list.forEach(function(item) { %>
                <li><%= item %> </li>
            <% }) %>
        </ul>
    </body>
</html>